body {
	font: 10px "Noto Sans SC", sans-serif;	
	margin: 0;
    background-color: #ffe5ff;
    background-image: linear-gradient(145deg, #ffe5ff, 5%, #f3bCb8 30%, 90%, #DDD6F3);
}

header {
    padding: 1em;
    width: max-content;
    color: #668;
    margin-left: 2em;
}

header h1 {
    font-size: 5em;
    font-weight: 900;
    margin: 0;
}

header p {
    font-size: 1.2em;
    text-align: right;
    margin-right: 0.7em;
}

main {
    font-weight: 100;
    font-size: 1.6em;
    margin: 2em 2em 0 auto;
}

#the_link {
    text-align: center;
    font: 500 1em "Roboto Mono", monospace;
}

#review {
    color: #333;
    grid-column: 4 / end;
    grid-row: 1 / end;
}

aside {
    width: max-content;
    margin: 2em 1em 0 auto;
    font-size: 0.75em;
}

aside ul {
    list-style-type: none
}

.gallery img {
    display: block;
}

.grid_container {
    display: grid;
    grid-template-columns: 5vw 200px 5vw 1fr 5vw;
    grid-template-rows: repeat(4, 120px);
}

#first-image {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: center;
    align-self: center;
}

#second-image {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: center;
}

#third-image {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    justify-self: center;
    align-self: center;
}

#fourth-image {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    justify-self: center;
    align-self: center;
}
